body { margin:0; padding:0; background-color: grey; }

#mapDataTable {
    font-size: 14px;
}

#mapDataTable th{
    font-size: 16px;
}

#dataTable {
    position:absolute; 
    top:0; 
    bottom:0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 10px 15px;
}

#map { 
    position:absolute; 
    top:0; 
    bottom:20%;
    left: 35%;
    width: 65%;
    height: 80%;
}

#messages {
    position:absolute; 
    top:80%; 
    bottom:0;
    left: 35%;
    width: 65%;
    background-color: #f2f2f2;
    height: 20%;
    overflow: auto;
    padding: 10px;
}


/*Default Settings */

/*
.marker-cluster-small {
	background-color: hsla(100,30%, 50%, 1);
	}
.marker-cluster-small div {
	background-color: hsla(98, 59%, 51%, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}
*/


.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
    background-color: hsla(100,30%, 50%, 1);
	}

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: hsla(98, 59%, 51%, 0.6);
	}

.marker-cluster span {
	line-height: 30px;
	}