body { margin:0; padding:0; background-color: grey; }

#mapDataTable {
    font-size: 14px;
}

#mapDataTable th{
    font-size: 16px;
}

#dataTable {
    position:absolute; 
    top:0; 
    bottom:0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 10px 15px;
    cursor: pointer;

}

#map { 
    position:absolute; 
    top:0; 
    bottom:30%;
    left: 40%;
    width: 60%;
    height: 70%;
}

#messages {
    position:absolute; 
    top:70%; 
    bottom:0;
    left: 40%;
    width: 60%;
    background-color: #f2f2f2;
    height: 30%;
    overflow: auto;
    padding: 10px;
}

.dupCoor {
    color: red;
    cursor: pointer;
    font-size: 12px;
    }

.badLocationCoor {
    color: red;
    cursor: pointer;
    font-size: 12px;
    }

.truncatedDecimal {
    color: red;
    cursor: pointer;
    font-size: 12px;
    }

.extrCluster {
    color: red;
    cursor: pointer;
    font-size: 12px;
    }


.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
/*    background-color: #FFF;*/
	}

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: hsla(98, 59%, 51%, 0.6);
	}

.marker-cluster span {
	line-height: 30px;
    opacity:1;
	}

/*
.toggleTable {
    background:#3887BE;
    position:absolute;
    width: 100px;
    height: 140px;
    bottom: 32%;
    left: 41%;
    z-index:1;
    border-radius:10px;
    color: 'black';
    font-size: 13px;
    text-align: center;
}
*/

