body { margin:0; padding:0; background-color: grey; }

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width: 100%;
    z-index: 10;
}

#rotateXslider {
    position: absolute;
    height:60%;
    top: 100px;
    bottom: 100px;
    right: 40px;
    opacity: .7;
    z-index: 50;

}

#skewSlider {
    position: absolute;
    width:60%;
    bottom: 60px;
    right: 100px;
    opacity: .7;
    z-index: 50;
}

.prism {
    font-size: 15px;
    color: #000;
    background-color: red;
}
